BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
# AlignConsecutiveShortCaseStatements: # not available yet
#   Enabled: true
#   AcrossEmptyLines: false
#   AcrossComments: true
#   AlignCaseColons: false
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
AttributeMacros: []
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: None
# BracedInitializerIndentWidth: -1 # not available yet
BreakAfterAttributes: Leave
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
ColumnLimit: 80
ContinuationIndentWidth: 4
DerivePointerAlignment: false
DisableFormat: false
FixNamespaceComments: false
ForEachMacros: []
IfMacros: []
IncludeBlocks: Regroup
IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 2
IndentWrappedFunctionNames: false
InsertBraces: true
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 4
  BinaryMinDigits: 6
  Decimal: 3
  DecimalMinDigits: 5
  Hex: 4
  HexMinDigits: 6
# KeepEmptyLinesAtEOF: false # not available yet
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: DeriveLF
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PPIndentWidth: -1
PenaltyReturnTypeOnItsOwnLine: 999
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder:
  ["inline", "static", "constexpr", "type", "const", "volatile", "restrict"]
RawStringFormats: []
ReflowComments: true
RemoveBracesLLVM: false
# RemoveParentheses: ReturnStatement # not available yet
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
# SpacesInParens: Never # newer version of `SpacesInParentheses: false`
SpacesInParentheses: false # will be replaced with `SpacesInParens: Never`
SpacesInSquareBrackets: false
StatementAttributeLikeMacros: []
StatementMacros: []
TypenameMacros: []
UseTab: Never
WhitespaceSensitiveMacros: []
