Checks: "*,-llvmlibc-implementation-in-namespace,-modernize-use-trailing-return-type,-llvm-namespace-comment,-google-readability-namespace-comments,-bugprone-easily-swappable-parameters,-misc-unused-parameters,-llvmlibc-restrict-system-libc-headers,-llvmlibc-callee-namespace,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-altera-struct-pack-align"
